
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(https://previews.123rf.com/images/mangpor2004/mangpor20041605/mangpor2004160500099/56383918-to-do-list-background-template.jpg);
    /* background-position: center; */
    background-repeat:no-repeat;
    background-size: cover;
    
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}
a{
    text-decoration: none;
    color: black;
}
.main{
    width: 100%;
    height: 100vh;
    position: absolute;
    
}
.content{
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    height: 100%;
}
.todo{
    cursor:inherit; 
    display: flex;
    padding: 14px;
}
.todovalue{
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bold;
    flex-grow: 1;
    border-bottom: 2px solid black;

}
.todocheck{
    cursor:inherit; 
    
}
.todo:has(.todocheck:checked){
   
    text-decoration: line-through 2px;
    order: 1;

}
text{
    text-decoration-line: none;
}
